body{
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h1{
    font-size: 24px;
    color: #34495e
}

button{
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
}

#nome{
    background-color: #ffffff;
}