* {
    margin: 0; /*Remove as margens padrão de todos os elementos*/
    padding: 0; /*Remove o preenchimento padrão de todos os elementos */
    box-sizing: border-box; /*Isso garante que o padding e a borda sejam incluidos no
    cálculo do tamanho dos elementos*/
}
body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex; /*utiliza modelo de layout flexbox para o corpo do documento*/
    justify-content: center; /*Centraliza os elementos horizontalmente*/
    align-items: center; /*Centraliza os elementos verticalmente*/
    height: 100vh;/*Define a altura do corpo como 100% da altura da janela de 
    visualização (viewport)*/
}
.card-container{
    display: flex;/*Utiliza o modelo de layout flex box para os itens dentro do 
    conteiner*/
    justify-content: space-around; /*Distribui os cartões com espaço igual entre eles*/
    gap: 20px; /*Pemite que os cartões quebrem a linha quando não couberem na 
    largura disponivel*/
    flex-wrap: wrap;
    padding: 20px; /*Adiciona um preenchimento de 20 px ao redor do contêiner*/  
}

.card{
    background-color: white;
    width: 350px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /*Aplica uma transição
    suave para o efeito de transformação de sobra*/
}

.card:hover{
    transform: translateY(-10px); /*Movimenta o cartão para cima em 10px ao passar
    o mouse sobre ele, criando um efeito de elevação*/
    box-shadow: 0px 6px 20px rgb(0,0,0, 0.15); /*aumenta a intensidade da sobra ao passar o
    mouse sobre o cartão*/
}

.card h2{
    color: #333;/*Define a cor do título do cartão como inza esuro*/
    margin-bottom: 10px /*adiciona uma margem inferior de 10px ao titulo*/
}

.card p {
    color: #666; /*Define a cor do texto dentro do cartão como cinza médio*/
    font-size: 14px;
    margin-bottom: 20px;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer; /* O cursor do mouse vira uma "mãozinha" com o dedo indicador
    esticado (Firefox)*/
    transition: background-color 0.3s ease;/* Aplica uma transição suave de 0.3s 
    à cor de fundo do botão */  
}

.btn:hover{
    background-color: #0056b3;

}