/*Estilo Global*/

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #e3ede3;
    margin: 0;
    padding: 0;
}
/*Cabeçalho do site*/
.site-header{
    background-color: #0374f6;
    color: white;
    text-align: center;
    padding: 20px;
}
/*Destaque*/
.highlight{
    background: #fc0;
    color: #333;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}
/*Informação*/
.info{
    background-color: #fff;
    color: #333;
    padding: 20px;
    margin: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.link{
    color: #4a90e2;
    text-decoration: none;
    font-weight: bold; /*Define o texto omo bold (negrito)*/
}

.link:hover{
    color: #ff4500;
}

.site-footer{
    background-color: #333;
    color:#fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}