* {
    background-color: #f0f0f0;
}

body {
    background-color: #f0f0f0;
}

footer {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   background-color: #333;
   color: white;
   text-align: center;
   padding: 5px;
}